beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
extruct==0.8.0
html-text==0.5.1
html5lib==1.0.1
idna==2.8
isodate==0.6.0
lxml==4.6.2
mf2py==1.1.2
pyparsing==2.4.5
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
SPARQLWrapper==1.8.4
urllib3==1.25.7
w3lib==1.21.0
webencodings==0.5.1
WebOb==1.8.5
WebPages==1.0.0a2
wget==3.2
